.menu {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 1px solid #d7d3d3;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  margin-top: 15px;
  font-family: 'Arial', sans-serif;
  border: 1px solid #d7d3d3;
  border-radius: 15px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
